<div class="navbar navbar-fixed-top navbar-default" style="height:80px;">
		<div class="container">
			
			<div class="navbar-header" style="padding-top:27px;">
				<div class="col-xs-12">
				<a class="pull-left" href="/" target="_self">
				<img class="header-logo" src="/img/vicigo_logo_short_dark_size_1.png" alt="Vicigo Logo">
				</a>
				<a class="visible-xs pull-right" href="/login" target="_self">
				 <button  class="btn btn-primary ">login</button>
				</a>	
				</div>
				
			</div>


		
 <form class="hidden-xs" action="/login?" method="post">
			<ul class="nav navbar-nav navbar-right">

      <li class="hidden-xs">
        <div class="form-group" style="padding:7px;">
            <label>email</label>
            <input type="text" class="form-control" name="login-email">
        </div>
      </li>

       <li class="hidden-xs">
        <div class="form-group " style="padding:7px;">
            <label>password</label>
            <input type="password" class="form-control" name="login-password">
        </div>
      </li>
       
      <li>
        <div class="form-group " style="padding:7px; padding-top:30px;">
        <button type="submit" class="btn btn-warning ">login</button>
        </div>
      </li>
		 	<li>
        <div class="form-group " style="padding:7px; padding-top:30px;">
        <a></a>
        </div>
      </li>
				
				
			</ul>
  </form>


	



		</div>
</div>