<!DOCTYPE html>
<html lang="en" ng-app="hashtag-app">

<head>
	<title>{{ MetaService.display('title') }}</title>

	<meta charset="utf-8">
	<meta name="author" content="{{ MetaService.display('author') }}">
	<meta name="description" content="{{ MetaService.display('description') }}">
	<meta name="robots" content="index, follow">
	<meta name="keywords" content="{{ MetaService.display('keywords') }}">
	<meta property="og:title" content="{{ MetaService.display('ogTitle') }}" />
	<meta property="og:site_name" content="Vicigo" />
	<meta property="og:url" content="http://vicigo.com/" />
	<meta property="og:description" content="{{ MetaService.display('ogDescription') }}"/>
	<meta property="fb:app_id" content="1577245229193798" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="en_US" />
	<meta property="article:publisher" content="https://www.facebook.com/vvicigo" />
	<meta property="og:image" content="{{ MetaService.display('ogImage') }}" />
	<meta property="twitter:title" content="{{ MetaService.display('twitterTitle') }}" />
	<meta property="twitter:url" content="http://www.vicigo.com/" />
	<meta property="twitter:description" content="{{ MetaService.display('twitterDescription') }}"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
	<link rel="icon"  type="image/png" href="/favicon.png">
	<meta name="google-site-verification" content="rWIW2CeQa3seMZY2sqbf-gQD-pPWQtqDPefyQgiYyhM" />
	<meta name="msvalidate.01" content="B8DF6E44B166DC0307F9748E3DEEA230" />
  <meta name="fragment" content="!" />

	
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<!--	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" /> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<link href="/css/dropzone.css" media="all" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" />
		<link href="/lib/tag-it/css/jquery.tagit.css" rel="stylesheet">
		<link href="/lib/tag-it/css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css" />
		<link href="/css/dropzone.css" media="all" rel="stylesheet" type="text/css" />
		<link href="/lib/angular-xeditable-0.1.8/css/xeditable.css" media="all" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css">

		<base href="/">
</head>

<body>


		<!-- UPLOAD IMAGE MODAL -->
		<div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog" aria-labelledby="uploadImageModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel"><b>#image</b> <button class="close" data-dismiss="modal">×</button></h4>
					</div>

					<div class="modal-body">
						<div class="form-group">
							<form>
								<input id="uploadedPictureTags" name="tags" class="tags-area">
							</form>
						</div>
						
						<input id="uploadedImagePostId" type="hidden">
						<form enctype="multipart/form-data" type="post" class="dz-clickable" id="imageDropzone">
							<div class="dz-message">
								<h3 class="push dz-message-text">drop files here or click to upload</h3>
							</div>
							<img id="uploadedImage" class="hidden" style="width:90%; max-width:600px; display: block; margin-left: auto; margin-right: auto" src="" />
						</form>
					</div>

					<!-- FOOTER IMAGE MODAL -->
					<div class="modal-footer">
						<button disabled id="publishPicturePostBtn" ng-click="publishPicturePost()" type="button" class="btn btn-primary btn-lg btn-block">Post</button>
					</div>
					<!-- FOOTER IMAGE MODAL -->
				</div>
			</div>
		</div>
		<!-- UPLOAD IMAGE MODAL -->



		<!-- UPLOAD IMAGE MODAL -->
		<div class="modal fade" id="uploadProfilePicModal" tabindex="-1" role="dialog" aria-labelledby="uploadProfilePicModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="uploadProfilePicLabel"><b>#profile_pic</b> <button class="close" data-dismiss="modal">×</button></h4>
					</div>
					<div class="modal-body">
						<form enctype="multipart/form-data" type="post" class="dz-clickable" id="profilePicDropzone">
							<div class="dz-message">
								<h3 class="push dz-message-text">drop file here or click to upload</h3>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- UPLOAD IMAGE MODAL -->	
	

	
<div class="navbar navbar-fixed-top navbar-default" style="height:80px;" ng-if="welcome&&!noHeader">
		<div class="container">
			
			<div class="navbar-header" style="padding-top:27px;">
				<div class="col-xs-12">
				<a class="pull-left" href="/" target="_self">
				<img class="header-logo" src="/img/vicigo_logo_short_dark_size_1.png" alt="Vicigo Logo">
				</a>
				<a class="visible-xs pull-right" ui-sref="login">
				 <button  class="btn btn-primary">login</button>
				</a>	
				</div>
				
			</div>


		
 <form class="hidden-xs" >
			<ul class="nav navbar-nav navbar-right">

      <li class="hidden-xs">
        <div class="form-group" style="padding:7px;">
            <label>email</label>
            <input type="text" class="form-control" ng-model="data.loginemail">
        </div>
      </li>

       <li class="hidden-xs">
        <div class="form-group " style="padding:7px;">
            <label>password</label>
            <input type="password" class="form-control" ng-model="data.loginpassword">
        </div>
      </li>
       
      <li>
        <div class="form-group" style="padding:7px; padding-top:30px;">
        <button type="submit" class="btn btn-warning " ng-click="login(data)">login</button>
        </div>
      </li>
		 	<li>
        <div class="form-group " style="padding:7px; padding-top:30px;">
        <a></a>
        </div>
      </li>
				
				
			</ul>
  </form>


	



		</div>
</div>	
	
	
	
<div class="navbar navbar-fixed-top navbar-default" ng-if="!welcome&&!noHeader">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" ui-sref="vicigo.feeds"><img class="header-logo" src="/img/vicigo_logo_short_dark_size_1.png"  alt="Vicigo Logo"></a>
					<form class="navbar-form pull-left" role="search">
					<div class="input-group">
		<!-- typeahead-popup-template-url="searchResultsPopup.html" -->
		<input type="text" class="form-control"  typeahead-on-select="searchResultSelected($item); asyncSelected = '';" typeahead-min-length="3" typeahead-wait-ms="500" typeahead-template-url="searchResults.html" ng-model="asyncSelected" uib-typeahead="result.header for result in searchVicigo($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
    <i ng-show="loadingLocations" class="fa fa-circle-o-notch fa-spin"></i>
    
					
						
						
					</div>
				</form>
      </div>
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
            <li>
							<a ui-sref="vicigo.profile({ profileId: user.id })">
								<img ng-if="user.profile_image_url" fallback-src="{{'/img/avatar.png'}}" ng-src="{{user.profile_image_url}}"  alt="profile pic" class="img-circle img-thumbnail-avatar-smallest">
								<img ng-if="!user.profile_image_url" src="/img/avatar.png"  alt="profile pic" class="img-circle img-thumbnail-avatar-smallest">
							</a>
					 </li>
           <li>
							<a href="/settings" target="_self">
								<i class="gi gi-settings fa-fw pull-right"></i> settings
							</a>
						</li>

						<li>
							<a href="/logout" target="_self">
								<i class="fa fa-power-off fa-fw pull-right"></i> logout 
							</a>
						</li>
         </ul>
      </div>
      <!--/.navbar-collapse -->
   </div>
</div>


	<div style="min-height:500px;">
		
		<div class="visible-xs" style="height:50px;"></div>


	<div class="container">

		

		
		<div style="height:40px;"></div>
		<div ui-view>
		<div ui-view></div>
		</div>
		
		
</div>
		
		
	</div>



	<script type="text/ng-template" id="searchResults.html">

			<div class="padding">
			<span ng-if="match.model.type=='profile'"><i class="fa fa-user fa-2x"></i></span>
			<span ng-if="match.model.type=='hashtag'"><i class="fa fa-hashtag fa-2x"></i></span>
			<span ng-if="match.model.type=='post'"><i class="fa fa-file-text-o fa-2x"></i></span>
			

			<span ng-bind-html="match.model.header | uibTypeaheadHighlight:query"></span>
			
			<div ng-show="noResults">
      <i class="fa fa-times"></i> No Results Found
   		</div>
			<div>

</script>	
		
<script type="text/ng-template" id="searchResultsPopup.html">
  <div class="search-results-wrapper"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
   

    <ul class="dropdown-menu" role="listbox">
			
        <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
            ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
            <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
				<hr if="!&first">		
        </li>
				
    </ul>
  </div>
</script>



		

			



<footer class="site-section site-content themed-background-muted">
		<div class="container">
			<hr>
			<!-- Footer Links -->
			    <div class="row">
      <div class="col-xs-12">

	<div class="text-center">
					<big>
					<ul class=" ul-breath list-unstyled list-inline">
						<li><a href="/" target="_self">home</a>
						</li>
            <li><a href="/impressum" target="_self">impressum</a>
						</li>
						<li class="hidden"><a href="/about" target="_self">about</a>
						</li>
						<li><a href="/privacy" target="_self">privacy</a>
						</li>
						<li><a href="/terms" target="_self">terms</a>
						</li>
						<li><a href="/sitemap" target="_self">sitemap</a>
						</li>
					</ul>
					  </big>	
</div>

				<div class="text-center push">
				
					<small>crafted with <i class="fa fa-heart text-danger"></i> in in heidelberg, germany</small>
				<br>
				<a href="http://viciqloud.com" target="_blank"><small>&copy;<span>2015</span> viciqloud UG (haftungsbeschränkt)</small></a>

				</div>
	</div>
    </div>
			
		</div>
	</footer>

    

		
	
	
	


			<script src="/lib/jquery-hashtags-master/js/jquery-2.1.4.min.js" type="text/javascript"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
			<script type="text/javascript" src="/js/vendor/bootstsap.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="/lib/bootbox.min.js"></script>

			<script type="text/javascript" src="/js/vendor/angular.min.js"></script>
			<script type="text/javascript" src="/lib/angular-ui-router.min.js"></script>
			<script type="text/javascript" src="/js/vendor/angular-sanitize.min.js"></script>
			<script type="text/javascript" src="/lib/ng-infinite-scroll.min.js"></script>
			<script type="text/javascript" src="/lib/angular.dcb-img-fallback.min.js"></script>
			<script type="text/javascript" src="/lib/angular-xeditable-0.1.8/js/xeditable.min.js"></script>
			<script type="text/javascript" src="/lib/ui-bootstrap-custom-tpls-0.14.3.min.js"></script>
	
			<script type="text/javascript" src="/lib/angular-inview.js"></script>

			<script type="text/javascript" src="/js/dropzone.js"></script>
			<script src="/lib/tag-it/js/tag-it.js" type="text/javascript" charset="utf-8"></script>

			<script type="text/javascript" src="/js/hashtagApp.js"></script>



      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-61717055-1', 'auto');
    </script>       
        
        
			<script>
				$(document).ready(function() {


					profilePicDropzone = new Dropzone("#profilePicDropzone", {
						url: "/upload/profile_image",
						maxFiles: 1,
						maxfilesexceeded: function(file) {
							this.removeAllFiles();
							this.addFile(file);
						},
						thumbnailWidth: null,
						previewTemplate: document.querySelector('#preview-template').innerHTML
					});


					profilePicDropzone.on("success", function(file, response) {
						$('#uploadProfilePicModal').modal('hide');
						console.log(response);
						$('#profilePic').attr('src', response.link);
					});

					imageDropzone = new Dropzone("#imageDropzone", {
						url: "/upload/image",
						maxFiles: 1,
						maxfilesexceeded: function(file) {
							this.removeAllFiles();
							this.addFile(file);
						},
						thumbnailWidth: null,
						previewTemplate: document.querySelector('#preview-template').innerHTML
					});


					imageDropzone.on("success", function(file, response) {
						console.log(response);
						$('#uploadedImage').attr('src', response.link);

						$("#uploadedImagePostId").val(response.postId)
						document.getElementById("publishPicturePostBtn").disabled = false;
						$(".dz-message").addClass("hidden");
						$("#uploadedImage").removeClass("hidden");
					});


					$(".tags-area").tagit({placeholderText:"tag it!"});

				});
			</script>

						<div id="preview-template" style="display:none;">
								<div class="dz-preview dz-file-preview">

									<div class="dz-details">
										<div class="dz-filename"><span></span></div>
										<div class="dz-size"></div>
									</div>

									<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
									<div class="dz-success-mark"><span></span></div>
									<div class="dz-error-mark"><span></span></div>
									<div class="dz-error-message"><span data-dz-errormessage></span></div>

								</div>
							</div>
	
	
</body>

</html>