	



<footer class="site-section site-content themed-background-muted">
		<div class="container">
			<hr>
			<!-- Footer Links -->
			    <div class="row">
      <div class="col-xs-12">

	<div class="text-center">
	
	
		
					<big>
					<ul class="ul-breath list-unstyled list-inline">
						<li><a href="/" target="_self">Home</a>
						</li>
            <li><a href="/impressum" target="_self">Impressum</a>
						</li>
						<li class="hidden"><a href="/about" target="_self">About</a>
						</li>
						<li><a href="/privacy" target="_self">Privacy</a>
						</li>
						<li><a href="/terms" target="_self">Terms</a>
						</li>
						<li><a href="/sitemap" target="_self">Sitemap</a>
						</li>
						<li><a href="/sitemap/hashtags" target="_self">Hashtags</a>
						</li>
						<li><a href="/sitemap/hashbooks" target="_self">Hashbooks</a>
						</li>
					</ul>
					  </big>	
</div>

				<div class="text-center push">
				
					<p><small>crafted with <i class="fa fa-heart text-danger"></i> in in heidelberg, germany</small></p>
					<p><small>Website analyzed with <a href="http://sirbz.com/">Sirbz</a></small></p>
					
				<br>
				<a href="http://viciqloud.com" target="_blank"><small>&copy;<span>2015</span> ViciQloud</small></a>

				</div>
	</div>
    </div>
			
		</div>
	</footer>

    
