<!doctype html>
<html>

<head>
  <title>Vicigo Impressum</title>

   <% include meta/meta %>

    <link rel="stylesheet" type="text/css" href="http://cdn.viciqloud.com/libs/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
 		<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body style="padding-top:130px;">
  
 <% include partials/header %> 




	<div class="container">
		
		
		<div class="row">
			<div class="col-md-12">
		
				<h1 class="slogan">#impressum</h1>
		<h4><a href="http://vicigo.com/hashtag/vicigo">#vicigo</a> is a product of <a href="http://viciqloud.com/"><a href="http://vicigo.com/hashtag/viciqloud">#ViciQloud</a> UG (haftungsbeschränkt)</a></h4>
				
				<p>
					Angaben gemäß § 5 TMG:
				</p>
				<h3>ViciQloud UG (haftungsbeschränkt)</a></h3>
				<h4>Addresse</h4>
				<p>
					<span>SAP Campus</span>
					<br><span>Robert-Bosch-Straße 49</span>
					<br><span>69190 Walldorf</span>
				</p>
				<h4>Geschäftsführer</h4>
				<span>Adrian Niznik-Barwicki</span>
				<h4>Kontakt</h4>
				<p>
					Email: <a href="mailto">adrian.barwicki@viciqloud.com</a>
				</p>
				<p>
					Tel: <a href="tel:004917656920180">+4917656920180</a>
				</p>
				<p>
					Eingetragen beim Amtsgericht Mannheim
					<br>HR-Nummer: HRB 722597
					<br>USt-ID: DE300975653
					<br>DUNS-Nummer: 313525013
				</p>
				<p>
					Verantwortliche für eigene Inhalte der ViciQloud UG (haftungsbeschränkt) gem. § 55 RStV: Adrian Niznik-Barwicki.
				</p>
				<h4>Haftungsausschluss</h4>
				<p>
					Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
				</p>

			</div>
		</div>


  
   <%- include footer %> 

	<script type="text/javascript" src="/js/vendor/bootstsap.min.js"></script>
	
	</body>
</html>
	
