<!doctype html>
<html>

<head>
  <title>Vicigo - Privacy Policy</title>

   <% include meta/meta %>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	
</head>
	
    <body style="padding-top:130px;">

        <div id="page-container" class="boxed">
        
           
<!-- INTRO BEGIN -->
<header  class="push">
	<div class="container">
		<h1 class="slogan text-center">Privacy Policy</h1>
	</div>
</header>
<!-- INTRO END -->


  
 <% include partials/header %> 


		<div class="container">
			<div class="row push">
				<div class="col-md-8 col-md-offset-2">
					<p>This Privacy Policy governs the manner in which Vicigo collects, uses, maintains and discloses information collected from users (each, a "User") of the <a href="http://vicigo.com">http://vicigo.com</a> website ("Site").</p>

					
					<h3>Information Collection and Use</h3>
				<p>Vicigo uses information we collect to analyze how the Service is used, diagnose service or technical problems, maintain security, personalize content, remember information to help you efficiently access your account, monitor aggregate metrics such as total number of visitors, traffic, and demographic patterns, and track User Content and users as necessary to comply with the German law.</p>
				<p>If you use your Facebook, Twitter, or other social networking site ("SNS") account information to sign in to Vicigo, we will collect and store your SNS user ID. If you connect your Vicigo account with your SNS account (such as to enable posting from Vicigo), we ask for your permission to collect certain information from your SNS account (such as information from your SNS profile).</p>	
					<h3>Personal identification information</h3>
					<p>You provide us information about yourself, such as your name and e-mail address, if you register for a member account with the Service. Your name and other information you choose to add to your profile will be available for public viewing on the Service. You may provide us with your mobile phone number if you choose to submit questions and receive answers via text message. We may use your email address to send you Service-related notices (including any notices required by law, in lieu of communication by postal mail). You can control receipt of certain Service-related messages on your Settings page. We may also use your contact information to send you marketing email messages. If you do not want to receive such messages, you may opt out by following the instructions in the message. If you correspond with us by email, we may retain the content of your email messages, your email address and our responses.</p>

					<h3>Non-personal identification information</h3>
					<p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection
						to our Site, such as the operating system and the Internet service providers utilized and other similar information.</p>

					<h3>Web browser cookies</h3>
					<p>Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or
						to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>

					

					<h3>How we protect your information</h3>
					<p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and
						data stored on our Site. We cannot, however, ensure or warrant the security of any information you transmit to Vicigo or guarantee that your information on the Service may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.</p>

					<h3>Sharing your personal information</h3>
					<p>We may share or sell information with third parties for marketing or other purposes.We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys.
						We may share your information with these third parties for those limited purposes provided that you have given us your permission.</p>

					<h3>Electronic newsletters</h3>
					<p>If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. We may use third party service providers to help us operate our business and the Site or
						administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.</p>

					<h3>Third party websites</h3>
					<p>Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licencors and other third parties. We do not control the content or links that appear on these sites and
						are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies
						and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website's own terms and policies.</p>

					<h3>Advertising</h3>
					<p>Ads appearing on our site may be delivered to Users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile non personal identification
						information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This privacy policy does not cover the use of cookies
						by any advertisers.
					</p>

					<h3>Google Adsense</h3>
					<p>Some of the ads may be served by Google.Google's use of the DART cookie enables it to serve ads to Users based on their visit to our Site and other sites on the Internet. DART uses "non personally identifiable information" and does NOT track personal
						information about you, such as your name, email address, physical address, etc. You may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at <a href="http://www.google.com/privacy_ads.html">http://www.google.com/privacy_ads.html</a>
					</p>

					<h3>Changes to this privacy policy</h3>
					<p>If we change our privacy policies and procedures, we will post those changes on this page to keep you aware of what information we collect, how we use it and under what circumstances we may disclose it. Changes to this Privacy Policy are effective when they are posted on this page.</p>


					<h3>Disclaimer</h3> 
					<p>
						We are making all the efforts to present the most accurate information. However, it is possible that some of it might be imprecise or misleading. We are not liable for any direct or indirect damage caused by using this site.
					</p>

					<h3>Your acceptance of these terms</h3>
					<p>By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those
						changes.</a>
					</p>

					<p>This document was last updated on June 15, 2015</p>

				</div>
			</div>
		</div>
     
  
      		 <%- include footer %> 
        </div>


    </body>

</html>















