<!doctype html>
<html>
<head>
    <title>Deactivate account</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1 class="push"><span class="fa fa-user"></span>Deactivate account</h1>

        <div class="alert push  alert-danger">Your account will be marked for deletion. Your content will become immediately invisible for other users. You will be still able to revoke it by logging in again. </div>
    <!-- LOGIN FORM -->
    <form  method="post">
	

		 <button type="submit" class="btn btn-danger btn-xs">Deactivate</button>

    </form>
    <hr>

    <p><a href="/settings">Go back</a></p>

</div>
</div>
</body>
</html>