<!doctype html>
<html>

<head>
  <title>Vicigo - Settings</title>

   <% include meta/meta %>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
	
    <body style="padding-top:130px;">

        <div id="page-container" class="boxed">
        
           
<!-- INTRO BEGIN -->


	


<!-- INTRO END -->
 
 <% include partials/header-search-ejs %> 



		
				<div class="container">
						<h1 class="slogan text-center">Settings</h1>
					
					<% if (false) { %>
					<div class="row push">
						
						<!-- LOCAL INFORMATION -->
						<h2>
							Connect other accounts
						</h2>
						<% if (false) { %>
						<div class="col-sm-6">
							<div class="well">
								<h3>
								<img src="/img/vicigo-logo.png" alt="Vicigo logo" style="width:100px;">
								</h3>

								<% if (user.local) { %>
									<p>
										<strong>id</strong>:
										<%=user.id %>
											<br>
										<strong>email</strong>:
										<%=user.email %>
											<br>	
									</p>

									<a href="/unlink/local" class="btn btn-default">Unlink</a>
									<% } else { %>
										<a href="/connect/local" class="btn btn-default">Connect Local</a>
										<% } %>

							</div>
						</div>
						<% } %>

						<!-- FACEBOOK INFORMATION -->
						<div class="col-sm-6">
							<div class="well">
								<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

								<!-- check if the user has this token (is the user authenticated with this social account) -->
									<% if (!user.facebook) { %>
									<a href="/auth/facebook" class="btn btn-primary push btn btn-lg" target="_self"><span class="fa fa-facebook"></span> connect facebook</a>
									<% } %>
							</div>
						</div>
					</div>
					<% } %>
				<% if (false) { %>
					<div class="row hidden">

						<!-- TWITTER INFORMATION -->
						<div class="col-sm-6">
							<div class="well">
								<h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
								<!-- check if the user has this token (is the user authenticated with this social account) -->
									<% if (user.twitter) { %>
										<a href="/unlink/twitter" class="btn btn-info">Unlink</a>
									<% } else { %>
										<a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
									<% } %>
							</div>
						</div>

						<!-- GOOGLE INFORMATION -->
						<div class="col-sm-6">
							<div class="well">
								<h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>
								<!-- check if the user has this token (is the user authenticated with this social account) -->
									<% if (user.google) { %>
									<a href="/unlink/google" class="btn btn-danger">Unlink</a>
									<% } else { %>
										<a href="/connect/google" class="btn btn-danger">Connect Google</a>
									<% } %>
							</div>
						</div>
					</div>
					<% } %>
					
					<% if (!user.facebook) { %>
						<div class="row">
						<h4>
						<a href="/auth/facebook" class="btn btn-primary push btn btn-lg" target="_blank"><span class="fa fa-facebook"></span> connect facebook</a>
						</h4>
					</div>
					<% } %>

					<% if (user.local) { %>
					<div class="row">
						<h4>
							<a href="/change_password">Change password</small>
						</h4>
					</div>
					<% } %>
	
					<div class="row">
						<h4>
							<a href="/subscriptions">Email notifications</small>
						</h4>
					</div>
					<div class="row">
						<h4>
								<a href="/deactivate">Deactivate account</a>
						</h4>
					</div>

				</div>

					</div>
			</div>
					
		<script type="text/javascript" src="/js/vendor/bootstsap.min.js"></script>	
			
			
	</body>
</html>