<!doctype html>
<html>

<head>
  <title>Vicigo - Sitemap</title>

    <% include meta/meta %>

    <link rel="stylesheet" type="text/css" href="http://cdn.viciqloud.com/libs/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	
</head>
	
    <body style="padding-top:130px;">


        
           
<!-- INTRO BEGIN -->
<header  class="push">
	<div class="container">
		<h1 class="slogan text-center">Sitemap - Hashbooks</h1>
	</div>
</header>
<!-- INTRO END -->
 
       <% include partials/header %> 

			<div class="container">
				<div class="row push">
				<div class="col-md-8 col-md-offset-2">
				</h2>	
				<ul>
         
				<% hashbooks.forEach(function(hashbook) { %>
				<li><a href="/hashbook/<%- hashbook.slug %>"><%- hashbook.title %></a> * <%- hashbook.desc %></li>
				<%  }); %>
				</ul>		
				</div>
			</div>
		
       
  
      	<%- include footer %> 
      


		<script type="text/javascript" src="/js/vendor/bootstsap.min.js"></script>

    </body>



</html>















	

	
