<!-- views/connect-local.ejs -->
<!doctype html>
<html>
<head>
    <title>Email notifications</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1 class="push"><span class="fa fa-user"></span>Email notifications</h1>
	
	
	<% if (message) { %>
        <div class="alert push  <% if (disabled) { %>alert-danger <% } else { %>alert-info<% } %> "><%= message %></div>
    <% } %>
	
	
	
    <!-- LOGIN FORM -->
    <form  method="post">
		 <% if (disabled) { %>
		 <button type="submit" class="btn btn-primary btn-lg">Activate</button>
   		 <% } else { %>
		 <button type="submit" class="btn btn-danger btn-lg">Deactivate</button>
		 <% }  %>
		
    </form>
    <hr>

    <p><a href="/settings">Go back</a></p>

</div>
</div>
</body>
</html>