

<h1>
  Vicigo
</h1>

        <h2>
          create an account
        </h2>
        
     
    
    <form action="/signup" method="post">
		  <div class="form-group">
            <label>username</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>password</label>
            <input type="password" class="form-control" name="password" >
        </div>

        <button type="submit" class="btn btn-warning btn-lg">signup</button>
	
		<a href="/auth/facebook" class="btn btn-primary push btn btn-lg" target="_self"><span class="fa fa-facebook"></span> login with facebook</a>
	
		
    </form>

    	<hr>
		
<p class="pull">by signing up you agree to our <a href="/privacy">privacy policy</a> and <a href="/terms">terms of usage</a>.</p>          
          
   
 
        <hr>

        <h1>
         explore the world of #hashtags
        </h1>
         <hr>
        <h3>
          trending tags
        </h3>
        <ul>
          <% for(var index = 0; index < hashtags.length  ; index ++) { %>
          <li><a href="/hashtag/<%- hashtags[index].hashtag  %>">#<%- hashtags[index].hashtag  %></a></li>
          <% } %>
        </ul>
        

		
<div class="row text-center" >
			
		<div class="col-sm-4">
			
			<i class="fa fa-heart"></i>
			
			<h2 class="text-enter">
				Personalised content
			</h2>
<p>
	Vicigo learns about your interests and tastes as you use it and gives you back what matters most to you. Vicigo is the best place to browse photos, articles and thoughts online.
</p>
</div>	
			
			
		<div class="col-sm-4">	
			<i class="fa fa-share-alt"></i>
			<h2 class="text-center">
				Share your moments
			</h2>
			<p>
Vicigo is focused on being the best place to share to an audience that is interested in your topic, with great writing tools and incredible distribution for writers of all kinds. Vicigo is the best place to write and share photos online.
			</p>
		</div>
			
		<div class="col-sm-4">
			<i class="fa fa-terminal"></i>
			<h2 class="text-center">
			Spartan look & no ads
			</h2>
			<p class="padding">
 Vicigo has focused on simplicity and inspiring creativity through solving problems with thoughtful product design. Only the content matters that interests you and you will see only this.  
			</p>
		</div>		
		
	  </div>
    
 

    


