@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,500);

/*--------------------- FONT (OPEN SANS) IMPORT FROM GOOGLE FONTS ----------------------*/

/*----------------------------------------------------------------------------------------
										COMMON STYLES
-----------------------------------------------------------------------------------------*/

body {
	width:100%;  
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	/* color: #777; */
	line-height: 1.6;
	background-color:#fafafa;
}

a {
	/*color: #444;*/
	text-decoration: none;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

a:hover {
	color: #00aeff;
	text-decoration: none;
}

h1 {
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
}

h2 { font-size: 34px; }

h3 { font-size: 22px; }

h4 { font-size: 17px; }

h1,
h2,
h3,
h4 {
	color: #444;
	font-weight: lighter;
	line-height:1.2;
	margin:5px 0 5px 0;
}

.uppercase {
	text-transform: uppercase;
}

.width640 {
	width: 640px !important;
}
.width321 {
	width: 321px !important;
}

btn {
	background-color: #4B9E70;
}

.padding-5 {
	padding: 5px;
}
.padding-10 {
	padding: 10px;
}
.padding-30 {
	padding: 30px;
}


/* BOOTSTRAP OVERRIDES */
.navbar-default{
	background-color:white;
	border-bottom: 1px solid #eeeeee;
	-webkit-box-shadow:0px 1px 1px #de1dde;
 -moz-box-shadow:0px 1px 1px #de1dde;
 box-shadow:0px 1px 1px #de1dde;
}

/*----------------------------------------------------------------------------------------
										NEWS
--------------------*/

.hashbook-container{
	height:200px;
	padding:10px;
}
.hashbook{
	height:170px;
	border: 1px solid black;
	border-radius: 4px;
}
.hashbook-panel{
		height:200px;
}

.hashbook h2 {
	font-size:22px;
}
.hashbook h4 {
	margin:10px 0 10px 0 !important;
}
.header_menu {
	padding:5px;
	font-size:17px;
	font-weight: bold !important;
}
.header_menu li {
				list-style-type: none;
        margin: 0;
        padding: 0;
        padding-top: 3px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eeeeee;
}
.menu-item-profile {
	padding:10px;
}

.news-list {
	border-bottom: 1px solid #eee;
	margin-bottom: 60px;
}

.news-list .news-element {
	border-bottom: 1px solid #eee;
	padding: 60px 0;
}

.list-feed-actions {
	padding-left : 30px;
	padding-right : 30px;
}
.list-feed-actions li {
	padding-left : 20px;
	padding-right : 20px;
}

.news-list li h3{
	font-size: 25px;
	font-weight: bold;
	text-transform: none;
	margin: 0 0 25px 0;
}

.news-info{ margin:0 0 30px 0;}

#news .news-info { margin:0;}

.news-info > div {
	display: inline-block;
	padding: 0 30px 0 0;
}

.news-info div:last-child {padding:0;}

.news-info > div .icon {
	margin: 0 10px 0 0;
	color: #ccc;
}

@media (max-width: 767px) {

.text-center-sm {
		text-align: center;
}
	
.news-list li { padding: 40px 0; }

.news-list li h3 { font-size: 20px; }

.news-info > div {
	font-size: 14px;
	padding: 0 10px 0 0;
}

.news-info > div .icon { margin: 0 5px 0 0; }

}

/* OTHER */


textarea {
	resize: vertical;
}

div.inline {
	float: left;
}

.rate-btn {
font-size:24px;	
}
.upvoted{
	color:rgb(255,70,0)
}
/* header */

@media(max-width:767px) {
	.navbar .navbar-form {
		width: 200px;
		padding-left: 10px;
		padding-right: 0;
	}
	body {
		padding-top: 0px;
	}
}

@media(min-width:768px) {
	.navbar .navbar-form {
		width: 300px;
	}
	body {
		padding-top: 70px;
	}
}

img.lazy {
	width: 100%;
	/*max-height: 400px;*/
	min-height: 180px;
	display: block;
	/* optional way, set loading as background */
	background-image: url('/img/loader-pacman.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.navbar .navbar-form {
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.search-results-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	background-color: #f9f9f9;
}

.search-results-wrapper > .message {
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	color: #868686;
}

.search-results-wrapper > .dropdown-menu {
	position: static;
	float: none;
	display: block;
	min-width: 250px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}


/* end header */

.header-logo {
	width: 30px;
}

.image-center {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.pointer{
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.slogan {
	font-size: 16px;
	font-weight: bold;
}
.middle-size {
	font-size: 20px;
	padding: 14px;
}
.bold-big {
	font-size: 24px;
	padding: 15px;
	font-weight: bold;
}

.padding-top {
	padding-top: 5px;
}

.side-padding {
	margin-left: 5px;
	margin-right: 5px;
}

.feed-container{
	margin-top:5px;
	margin-bottom:20px;
} 


.feed {
	border-style: solid;
  border-width: 1px;
	border-color: #F0F8FF;
	background-color: white;
	max-width: 640px;
	margin: 0 auto;
	width:100% !important;
}

.feed .feed-header {
	  background-color:white;
		padding-top:10px;
		padding:5px;
    border-bottom: 1px solid #F0F8FF;
		cursor: pointer;
}

.feed .feed-header img {
	border-radius: 50%;
	height: 28px;
	width: 28px;
}

.feed .feed-header ul li {
    display: inline; 
}

.feed .feed-header .feed-date {
    float: right; 
}


.feed-body {
	cursor: pointer;
	width:100% !important;
}
.feed-body lazy-img {
	max-width: 100% !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}
.feed-body p {
	padding:5px;
	font-size: 15px;
	cursor: pointer;
}

.feed .feed-footer .hashtag {
	padding: 2px;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}

.feed .feed-footer .feed-actions .list {
    display: inline; 
    padding-left:5px;
    padding-top:4px;
}

.feed .feed-footer .feed-actions .list li {
    display: inline;
    padding-left:10px;
}



	.feed-hashtag {
		font-size: 8px;
	}

.post-feed-body {
	width:100%;  
	font-family: 'Open Sans', sans-serif;

  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 21px !important;
  line-height: 1.58 !important;
	/* color: #777; */
	line-height: 1.6;
	background-color:white;
	max-width: 100%;
	font-size: 17px;
}

.postMainPicture{
	max-width:100%;
	display: block;
  margin-left: auto;
  margin-right: auto
}

@media(min-width:768px) {
.post-title-container h1 {
		font-size:38px;
	}
	
.post-body {
	width:100%;  
	font-family: 'Open Sans', sans-serif;
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 17px !important;
  line-height: 1.58 !important;
	/* color: #777; */
	line-height: 1.6;
	max-width: 100%;
	padding: 5px;
}

}
@media(max-width:768px) {
	.hashbook-title h1 {
		font-size:24px !important;
	}
	
	.post-title-container h1 {
		font-size:24px;
	}
	.post-body {
	width:100%;  
	font-family: 'Open Sans', sans-serif;
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 17px !important;
  line-height: 1.58 !important;
	max-width: 100%;
}
}



.post-body img {
	display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
	margin-top: 10px !important;
	margin-down: 10px !important;
	max-width: 100% !important;
}
.post-feed-body img {
	margin-top: 10px;
	margin-down: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.image-feed-body {
	max-width: 100%;
	padding: 0px;
}

.feed-title {
	padding-left:5px;
	padding-right:5px;
}

.block-center {
	margin: 0 auto;
}

.img-thumbnail-avatar-big {
	height: 150px;
	width: 150px;
}

.img-thumbnail-avatar-normal {
	height: 100px;
	width: 100px;
}

.img-avatar-blog {
	height: 30px;
	width: 30px;
}
.post-content{
	width:100%;
}
.img-thumbnail-avatar-small {
	height: 45px;
	width: 45px;
}

.img-center{
		display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-thumbnail-avatar-smallest {
	height: 28px;
	width: 28px;
}

.hashtag {
	padding: 2px;
	font-weight: bold;
	font-size: 12px;
}
.padding-3 {
	padding:3px;
}

/* header 
@media(max-width:767px) {
.feed-hashtag {
 
}
}*/

@media(min-width:768px) {
	.feed-hashtag {
		font-size: 8px;
	}
}

.hashtag-big {
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
}

.selected {
	font-weight: bold;
}

.cursor-pointer {
	cursor: pointer;
}

.horiontal-list li {
	display: inline;
	list-style-type: none;
	width: 100%;
	padding: 15px;
}

.text-center {
	text-align: center
}


/* DROPZONE */

.dz-message-style {
	border-radius: 9px 9px 9px 9px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border: 2px dashed #000000;
	height: 300px;
	/*height: 100%;*/
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.dz-message-text-style {
	text-align: center;
}


/* Slideshow style */
.splash {
    position: fixed;
    background: rgba(0,0,0,0.85);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    transition: opacity 0.5s, visibility 0s 0.5s;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
}

.splash-open.splash {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.splash .splash-inner {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,150px);
    transform: translate3d(0,0,150px);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}


.splash-open.splash .splash-inner {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.splash .splash-content {
    width: 660px;
    height: 350px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -175px 0 0 -330px;
    color: #fff;
    font-size: 18px;
}

.splash-content h1 {
    color: #fff;
    margin-bottom: 40px;
}


.btn-outline {
    margin-top: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    background-color: transparent;
    width: 250px;
    font-weight: 300;
}
.btn-outline:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
}




/*----------------------------------------------------------------------------------------
											COMMENTS
----------------------------------------------------------------------------------------*/



.comments { padding: 80px 0 0 0; }

.comments li { padding: 0; }

.comment-list .children { margin-left: 80px; }

.comment-body {
	border-top: 1px solid #eee;
	position: relative;
	padding: 40px 0 40px 80px;
}

.comment-body .photo {
	position: absolute;
	left: 0;
	top: 40px;
}

.comment-body .photo img{
	border-radius: 5px;
	width:50px;
	height:auto;
	}

.comment-body .comment-data {
	margin-top: 10px;
	font-size: 14px;
}

.comment-body .comment-data .author {
	color: #444;
	font-weight: bold;
	padding-right: 20px;
	font-size: 14px;
}

.comment-body .comment-data .date {
	color: #ccc;
	padding-right: 20px;
}

.comment-body .comment-data a { color: black; }


.comments .comment-respond { margin: 0 0 0 0; }

.comments #comment_form { border: 1px solid #eee; }

.comments #comment_form:after {
	content: '';
	display: block;
	clear: both;
}

.comments #comment_form > div { padding: 0; }

#comment_form .btn_send {
	width: 100%;
	background: #eee;
	font-weight:bold;
	color:#777;
	margin:0;
}

#comment_form .form-group { border-bottom: 1px solid #eee; }

#comment_form .form-group label.error,
#comment_form .form-group label.valid {
	display: block;
	margin: 0;
	font-size: 12px;
	position: relative;
	padding: 5px 20px;
	font-weight: 300;
	color: #fff;
	text-align: left;
}

#comment_form .form-group label.error { background: #d12525; }

#comment_form .form-group label.error:before {
	position: absolute;
	left: 20px;
	top: -7px;
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7px 7px 7px;
	border-color: transparent transparent #d12525 transparent;
}

#comment_form .form-group label.valid { padding: 0; }

#comment_form .form-group label.valid:before { display: none; }

@media (max-width: 992px) {

.comments{ padding:60px 0 0 0;}

.comments .form-control{ text-align:center;}

.comments .comment-respond{margin:40px 0 0 0;}

.comment-body { padding: 30px 0; }

.comment-list .children { margin-left: 0; }

.comment-body .photo {
	position: relative;
	left: auto;
	top: auto;
	margin: 0 auto 20px auto;
}

.comment-body .comment-data .author {
	display: block;
	padding: 0;
}

.comment-body .comment-data .date {
	display: block;
	padding: 0;
}
}

.fill-screen img {
	width:100%;
}