<div id="wrap"> 

  
	<!-- INTRO BEGIN -->
	<header id="blog-intro" class="intro-block bg-color3 text-center" >

			<img class="img-circle img-avatar-blog" ng-src="{{blog.author_avatar}}">
    {{blog.author_fullname}} <a href="/profile/{{blog.author_username}}">@{{blog.author_username}}</a>
    
		<div class="container">
			<h1 class="hashbook-title" style="font-size:35px;"><strong>{{blog.blog_title}}</strong></h1>
      <h2>{{blog.blog_desc}}</h2>
			
			<ul class="text-center list-unstyled list-inline">
			<li class="padding-10">

			</li>
	
			</ul>
			
			
		</div>
    
	    <div class="container">


			<div class="row">
				<img ng-src="{{blog.blog_bg_picture}}" class="img-center" style="z-index:-999;max-width:100%;">
			</div>

			   </div>
		
		
		<ul class="text-center list-unstyled list-inline">
			<li class="padding-10"  ng-show="blog.author_id == user.id">
				
				<form enctype="multipart/form-data" type="post" class="dz-clickable" id="hashbookBGDropzone">
					
					<div class="dz-message">
								
				<div ng-if="!blog.bg_picture" class="btn btn-default" style="float:right;">
				<i class=" fa fa-camera"></i> Change background pic
				</div>						

							</div>
							
						</form>
			</li>
	
			</ul>
		
	</header>
	<!-- INTRO END --> 
	
 <hr>

	<section id="blogs">
		<div class="container">
			<div class="row">
				
				<div class="col-md-offset-2 col-md-8 blog-content-sidebar">
					<ul ng-if="blog.posts.length" class="news-list post-list list-unstyled" style="width:100%;">

						<li ng-repeat="post in blog.posts" class="news-element" style="width:100%;">
							
							<div class="feed-header">
								 <a href="/profile/{{blog.author_username}}">
								<img class="img-circle img-thumbnail-avatar-smallest" fallback-src="{{'/img/avatar.png'}}" ng-src="{{blog.author_avatar ? blog.author_avatar : '/img/avatar.png'}}">
								{{blog.author_fullname}} 	{{post.read_time}}
								</a>
								
								<span class="pull-right">{{post.timestamp_formatted}}</span>
							</div>
							
							<h2><a ng-href="{{post.link}}">{{post.title}}</a></h2>
							
							<div class="post-content">
								<a ng-href="{{post.link}}" ng-if="post.post_image_url">
									<lazy-img  ng-src="{{trustSrc(post.post_image_url)}}" alt="image" class="img-responsive img-center lazy" style="display: block;margin-left: auto;margin-right: auto;"></lazy-img>
								</a>
								<article ng-if="post.post_type_id==2||post.post_type_id==3"  ng-bind-html="displayPostBody(post.post_body)">
                </article>

								<a ng-if="post.post_type_id==2||post.post_type_id==3" ng-href="{{post.link}}" class="padding-5 read-more text-muted" title="Read more">Read more</a>
							</div>
							
						</li>
					</ul>
					
					<p ng-if="!blog.posts.length" class="text-center text-muted padding-30" >
						This hashbook is empty! <span ng-if="user.id==blog.author_id">Start adding pictures and writing posts! This will make your hashbook live its own life!</span>
					</p>
					
					
				</div>
				
			</div>
		</div>
	</section>
	<!-- BLOG END -->
	
	

	
</div>