<div class="container">
  
  <h1>
    Hashbooks
  </h1>
  <hr>
  
<div class="hashbook-container col-xs-12 col-sm-6 col-lg-4 text-center" ng-if="user.id">

 <div class="hashbook" >
   
  <div class="row">

  <div class="col-xs-12">

    <h2>
    <a ui-sref="vicigo.hashbookNew"> <i class="fa fa-plus fa-4x"></i> </a>
    </h2>
    <p>
      Create New Hashbook
    </p>
 </div>  
 </div>  
 
</div>
    </div>  
  
  
  
  
  
<div class="hashbook-container col-xs-12 col-sm-6 col-lg-4" ng-repeat="blog in blogs">
 <div class="hashbook">
  <div class="col-xs-12">
    <h4 class="padding-5">
     <strong>{{blog.title}}</strong>
    </h4>
      <p class="padding-10 text-muted">
      {{blog.desc}}  
      </p>
 </div>  
 
    <div style="position:absolute;right:20px;bottom:30px;">
     <button class="btn btn-lg btn-default padding-5" ui-sref="hashbook.list({blogSlug:blog.slug})">View</button>
     <button class="btn btn-lg btn-default padding-5" ui-sref="hashbook.edit({blogSlug:blog.slug})">Edit</button>
     <button class="btn btn-lg btn-default padding-5" ng-click="deleteHashbook(blog.blog_id,blog.slug,$index);">Delete</button>  
     </div>  
   
</div>
    </div> 
  
</div> 
  

  
