<div class="container">
    <div class="row">
   <div class="col-sm-8">
  <h1>
  Create a Hashbook
</h1>
<p class="text-muted">
Hashbooks are collections of moments that contain one or many predefined hashtags. Once you create a hashbook, it will be updated automatically when you post content. With hashbooks, you can tell many stories at the same time.
</p> 
</div>  
    </div>
    
<hr>
  <div class="row">
    
  
<div class="col-sm-6">



<form role="form">
    <div class="form-group">
    <label for="pwd">URL</label>
    
    <div>
       http://vicigo.com/hashbook/<input ng-model="blog.slug" style="display:inline-block;max-width:150px;width:100%;" type="text" class="form-control">
    </div>
   
  </div>
    <hr>
  <div class="form-group">
    <label for="title">Title</label>
   
    <input ng-model="blog.title" type="text" class="form-control">
  </div>
   <hr> 
  <div class="form-group">
    <label for="desc">Description</label>
    
    <input ng-model="blog.desc" type="text" class="form-control">
  </div>
   <hr>
    <div class="form-group">
    <label for="type">Hashbook type</label>
     
   
    <label class="radio padding-5">  <input type="radio" name="type" ng-model="blog.type"  value="album"> Album (only photos)</label>
    <label class="radio padding-5"> <input type="radio" name="type" ng-model="blog.type"  value="journal"> Journal (only posts)</label>
    <label class="radio padding-5"><input type="radio" name="type" ng-model="blog.type"  value="blog"> Blog (photos and posts)</label>  
      
  
  </div>

  
 <hr>
  <div class="form-group">
    <label for="hashtags">Stories with the following hashtags will be included in this blog:</label>
    <input ng-model="blog.hashtags"  name="tags" class="tags-area form-control">
  </div>
  
  
  
  <button ng-click="createBlog(blog)" type="submit" class="btn btn-primary btn-lg btn-block">Create a hashbook</button>
</form>
  </div>
    
 </div>   
</div>