

	
	<div ng-controller="editorController">
	
	
	
<div class="navbar navbar-fixed-top navbar-default" ng-if="!welcome&&!noHeader" >
   <div class="container">

         <a ui-sref="vicigo.feeds">
					 <img  style="margin:13px;" src="/img/vicigo_logo_short_dark_size_1.png"  alt="Vicigo Logo">
		 		 </a>
	
     
         <ul class="nav navbar-nav navbar-right" >
           

					<li ng-if="draft.post_status==0" ng-click="publishPost(draft.post_id)">
						<button class="btn-default btn" style="margin:10px;" >
						<strong>Publish</strong>
						</button>
					</li>
					 <li ng-if="draft.post_status>0">
  					<span class="badge" style="margin:15px;" >
						Published
						</span>
					</li>
					 <li ng-if="draft.post_status!==0" ui-sref="vicigo.post({postId : draft.post_id})">
					 	<button class="btn-default btn" style="margin:10px;" >
						<strong>Go to post</strong>
						</button>
					</li>

					 
					  
					 
            <li ui-sref="vicigo.profile({ profileId: user.id })" class="menu-item-profile">
   
								<img ng-if="user.profile_image_url" fallback-src="{{'/img/avatar.png'}}" ng-src="{{user.profile_image_url}}"  alt="profile pic" class="img-circle img-thumbnail-avatar-smallest">
								<img ng-if="!user.profile_image_url" src="/img/avatar.png"  alt="profile pic" class="img-circle img-thumbnail-avatar-smallest">

					 </li>
		</ul>

   </div>
</div>

	
	
	

	<div style="min-height:440px;">
	<div class="visible-xs" style="height:50px;"></div>

		<div style="height:40px;"></div>
		<div ui-view autoscroll="true"></div>

		
		
	</div>



	<script type="text/ng-template" id="searchResults.html">

			<div class="padding">
			<span ng-if="match.model.type=='profile'"><i class="fa fa-user fa-2x"></i></span>
			<span ng-if="match.model.type=='hashtag'"><i class="fa fa-hashtag fa-2x"></i></span>
			<span ng-if="match.model.type=='post'"><i class="fa fa-file-text-o fa-2x"></i></span>
			

			<span ng-bind-html="match.model.header | uibTypeaheadHighlight:query"></span>
			
			<div ng-show="noResults">
      <i class="fa fa-times"></i> No Results Found
   		</div>
			<div>

</script>	
		
<script type="text/ng-template" id="searchResultsPopup.html">
  <div class="search-results-wrapper"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
   

    <ul class="dropdown-menu" role="listbox">
			
        <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
            ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
            <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
				<hr if="!&first">		
        </li>
				
    </ul>
  </div>
</script>



		

			



<footer class="site-section site-content themed-background-muted">
		<div class="container">
			<hr>
			<!-- Footer Links -->
			    <div class="row">
      <div class="col-xs-12">

	
				
	<div class="text-center">
		
		
			
		<ul class="ul-breath list-unstyled list-inline">
<li><a href="http://facebook.com/vvicigo" target="_blank"><i class="fa fa-facebook  fa-2x"></i></a></li>
<li><a href="http://twitter.com/vvicigo" target="_blank"><i class="fa fa-twitter  fa-2x"></i></a></li>
<li><a href="https://plus.google.com/b/102391337054461977360/?pageId=102391337054461977360" target="_blank"><i class="fa fa-google-plus  fa-2x"></i> </a></li>
</ul>
		
					<big>
					<ul class=" ul-breath list-unstyled list-inline">
						<li><a href="/" target="_self">home</a>
						</li>
            <li><a href="/impressum" target="_self">impressum</a>
						</li>
						<li class="hidden"><a href="/about" target="_self">about</a>
						</li>
						<li><a href="/privacy" target="_self">privacy</a>
						</li>
						<li><a href="/terms" target="_self">terms</a>
						</li>
					</ul>
					  </big>	
</div>

				<div class="text-center push">
				
					<small ui-sref="vicigo.write">Crafted with <i class="fa fa-heart text-danger"></i> in Heidelberg, Germany</small>
				<br>
				<a href="http://viciqloud.com" target="_blank"><small>&copy;<span>2016</span> Viciqloud UG (haftungsbeschränkt)</small></a>

				</div>
	</div>
    </div>
			
		</div>
	</footer>  
		
	</div>	
    