

	
	
	
<div class="navbar navbar-fixed-top navbar-default" style="height:80px;" ng-if="welcome&&!noHeader">
		<div class="container" style="background-color: 1aa06c;">
			
			<div class="navbar-header" style="padding-top:27px;">
				<div class="col-xs-12">
				<a class="pull-left" href="/" target="_self">
				<img class="header-logo" src="/img/vicigo_logo_short_dark_size_1.png" alt="Vicigo Logo">
				</a>
				<a class="visible-xs pull-right" ui-sref="starter.login">
				 <button  class="btn btn-primary">login</button>
				</a>	
				</div>
			</div>


		
 <form class="hidden-xs" >
			<ul class="nav navbar-nav navbar-right">

      <li class="hidden-xs">
        <div class="form-group" style="padding:7px;">
            <label>email</label>
            <input type="text" class="form-control" ng-model="data.loginemail">
        </div>
      </li>

       <li class="hidden-xs">
        <div class="form-group " style="padding:7px;">
            <label>password</label>
            <input type="password" class="form-control" ng-model="data.loginpassword">
        </div>
      </li>
       
      <li>
        <div class="form-group" style="padding:7px; padding-top:30px;">
        <button type="submit" class="btn btn-warning " ng-click="login(data)">login</button>
        </div>
      </li>
		 	<li>
        <div class="form-group " style="padding:7px; padding-top:30px;">
        <a></a>
        </div>
      </li>
				
				
			</ul>
  </form>

		</div>
</div>	
	
	
	
<div class="navbar navbar-fixed-top navbar-default" ng-if="!welcome&&!noHeader">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
         </button>
		<a class="navbar-brand" ui-sref="vicigo.feeds">
				<img class="header-logo" src="/img/vicigo_logo_short_dark_size_1.png"  alt="Vicigo Logo">
		</a>
		<form class="navbar-form pull-left" role="search">
			<div class="input-group">
				<input type="text" class="form-control"  placeholder="vicigo search" typeahead-on-select="searchResultSelected($item); asyncSelected = '';" typeahead-min-length="3" typeahead-wait-ms="500" typeahead-template-url="searchResults.html" ng-model="asyncSelected" uib-typeahead="result.header for result in searchVicigo($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
				<i ng-show="loadingLocations" class="fa fa-circle-o-notch fa-spin"></i>
			</div>
		</form>
      </div>
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right" >
           
             <li ng-if="!user">
							<a ui-sref="starter.login">
								<i class="gi gi-settings fa-fw pull-right"></i> login
							</a>
						</li>
            <li ng-if="!user">
							<a ui-sref="starter.signup">
								<i class="gi gi-settings fa-fw pull-right"></i> signup
							</a>
						</li>

			<li ng-if="user.id">
				<a ui-sref="editor.write"><i class="fa fa-pencil"></i></a>
			</li>
			<li ng-if="user.id">
				<a ng-click="newPhoto()"><i class="fa fa-camera"></i></a>
			</li>
			


					 
					  <li ng-if="user.id">
							<a ui-sref="vicigo.notifs">
								
								 <i class="fa fa-bell-o"><span class="badge" ng-if="userStatus.notifications_count">{{userStatus.notifications_count}}</span></i>
							</a>
					 </li>
					 
            <li ng-if="user.id" class="menu-item-profile">
							
							
							<div class="btn-group" uib-dropdown on-toggle="toggled(open)">
      <a href="#" uib-dropdown-toggle ng-disabled="disabled">

								<img ng-if="user.profileImageUrl" fallback-src="{{'/img/avatar.png'}}" ng-src="{{user.profileImageUrl}}"  alt="profile pic" class="img-circle img-thumbnail-avatar-smallest">
								<img ng-if="!user.profileImageUrl" src="/img/avatar.png"  alt="profile pic" class="img-circle img-thumbnail-avatar-smallest">
						    
      </a>
      <ul uib-dropdown-menu class="uib-dropdown-menu header_menu" role="menu" aria-labelledby="single-button">
        <li role="menuitem">
						<a ui-sref="vicigo.profile({ profileId: user.id })">Profile</a>
				</li>
      	<li role="menuitem">
						<a ui-sref="vicigo.hashbookNew">Create Hashbook</a>
				</li>
				<li role="menuitem">
						<a ui-sref="vicigo.hashbooks({profileIdentifier:user.id})">Hashbooks</a>
				</li>

				 <li role="menuitem">
						<a href="/settings" target="_self">Settings</a>
			   </li>
				 <li role="menuitem">
							<a href="#" ng-click="logoutMe()">Logout </a>
			   </li>
			
      </ul>
    </div>
							
					
					 </li>
        



					
         </ul>
      </div>
      <!--/.navbar-collapse -->
   </div>
   <div class="container">
	   <ul class="list-unstyled list-inline">
			<li ng-repeat="hashtag in hashtags">
				<a ui-sref="vicigo.hashtag({hashtag: hashtag})">#{{hashtag}}</a>
			</li>
	   </ul>
   </div>
</div>


	<div style="min-height:440px;">
	<div class="visible-xs" style="height:50px;"></div>

		<div style="height:40px;"></div>
		<div ui-view autoscroll="true"></div>

		
		
	</div>



	<script type="text/ng-template" id="searchResults.html">

			<div class="padding">
			<span ng-if="match.model.type=='profile'"><i class="fa fa-user fa-2x"></i></span>
			<span ng-if="match.model.type=='hashtag'"><i class="fa fa-hashtag fa-2x"></i></span>
			<span ng-if="match.model.type=='post'"><i class="fa fa-file-text-o fa-2x"></i></span>
			

			<span ng-bind-html="match.model.header | uibTypeaheadHighlight:query"></span>
			
			<div ng-show="noResults">
      <i class="fa fa-times"></i> No Results Found
   		</div>
			<div>

</script>	
		
<script type="text/ng-template" id="searchResultsPopup.html">
  <div class="search-results-wrapper"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
   

    <ul class="dropdown-menu" role="listbox">
			
        <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
            ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
            <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
				<hr if="!&first">		
        </li>
				
    </ul>
  </div>
</script>



		

			



<footer class="site-section site-content themed-background-muted">
		<div class="container">
			<hr>
			<!-- Footer Links -->
			    <div class="row">
      <div class="col-xs-12">

	
				
	<div class="text-center">
		
		
			
		<ul class="ul-breath list-unstyled list-inline">
<li><a href="http://facebook.com/vvicigo" target="_blank"><i class="fa fa-facebook  fa-2x"></i></a></li>
<li><a href="http://twitter.com/vvicigo" target="_blank"><i class="fa fa-twitter  fa-2x"></i></a></li>
<li><a href="https://plus.google.com/b/102391337054461977360/?pageId=102391337054461977360" target="_blank"><i class="fa fa-google-plus  fa-2x"></i> </a></li>
</ul>
		
					<big>
					<ul class=" ul-breath list-unstyled list-inline">
						<li><a href="/" target="_self">home</a>
						</li>
            <li><a href="/impressum" target="_self">impressum</a>
						</li>
						<li class="hidden"><a href="/about" target="_self">about</a>
						</li>
						<li><a href="/privacy" target="_self">privacy</a>
						</li>
						<li><a href="/terms" target="_self">terms</a>
						</li>
					</ul>
					  </big>	
</div>

				<div class="text-center push">
				
					<small ui-sref="vicigo.write">Crafted with <i class="fa fa-heart text-danger"></i> in Heidelberg, Germany</small>
				<br>
				<a href="http://viciqloud.com" target="_blank"><small>&copy;<span>2016</span> Viciqloud UG (haftungsbeschränkt)</small></a>

				</div>
	</div>
    </div>
			
		</div>
	</footer>  
    