
<post-header></post-header>



<div class="container">


	
	<div class="col-md-8 col-md-offset-2">

		<hr>
    



		<div class="row">
<div style="float:left">
		<i class="fa fa-eye side-padding"> {{post.post_views}} </i>
		<i class="fa fa-heart-o side-padding"> {{post.upvotes_count}}  </i>
		<i class="fa fa-comment-o side-padding"> {{post.comment_count}}  </i>
</div>
			
<div style="float:right">
	<a href="#"
class="side-padding"
socialshare
socialshare-provider="facebook"
socialshare-via="1577245229193798"
socialshare-url="http://vicigo.com/post/{{post.post_id}}">
<i class="fa fa-facebook"></i>
</a>
		
<a ng-if="!post.post_short_link" href="#"
	 class="side-padding"
socialshare
socialshare-provider="twitter"
socialshare-url="http://vicigo.com/post/{{post.post_id}}">
<i class="fa fa-twitter"></i>
</a>	
<a ng-if="post.post_short_link" href="#"
	 class="side-padding"
socialshare
socialshare-provider="twitter"
socialshare-url="{{post.post_short_link}}">
<i class="fa fa-twitter"></i>
</a>	
<a href="#"
	 class="side-padding"
socialshare
socialshare-provider="linkedin"
socialshare-url="http://vicigo.com/post/{{post.post_id}}">
<i class="fa fa-linkedin"></i>
</a>

<a href="#"
	 class="side-padding"
socialshare
socialshare-provider="pinterest"
socialshare-media = "{{post.post_image_url}}"
socialshare-url="http://vicigo.com/post/{{post.post_id}}">
<i class="fa fa-pinterest"></i>
</a>
	

	
</div>					

	
			</div>	
			<hr>

	<div class="row" ng-if="post.post_type_id == 2 || post.post_type_id == 3">
				<article class="site-block post-body"  ng-bind-html="displayFeedBody(post.post_body)"></article>
  </div> 
<div class="row">
			<span class="hashtag" ng-repeat="hashtag in post.hashtags"><a ui-sref="vicigo.hashtag({hashtag:hashtag.hashtag})">#{{hashtag.hashtag}}</a> </span>			
</div> 
		</div>			


	</div>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="col-xs-12 col-sm-6">
			<h4>
				Seen by
			</h4>
			<div>
			<img fallback-src="{{'/img/avatar.png'}}" class="img-thumbnail-avatar-smallest img-circle padding-3" ng-repeat="icon in post.visits" ng-src="{{icon.profile_image_url}}" ui-sref="vicigo.profile({profileId:icon.user_id})">	
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h4>
				Upvoted by
			</h4>
			<div>
			<img fallback-src="{{'/img/avatar.png'}}" class="img-thumbnail-avatar-smallest img-circle padding-3" ng-repeat="icon in post.upvotes" ng-src="{{icon.profile_image_url}}" ui-sref="vicigo.profile({profileId:icon.user_id})">	
			</div>
		</div>
		</div>
		
	</div>
	</div>
<div class="container">
	<!-- COMMENTS BEGIN -->
	<div class="col-md-8 col-md-offset-2">
		<div id="comments" class="comments">
							<div class="comment-respond" ng-if="user.id">
								<h3>Leave a comment:</h3>
								<form role="form"  id="comment_form" ng-submit="postComment(post.post_id,commentDraft)">
									<div class="form-group">
										<textarea class="form-control" rows="6" ng-model="commentDraft" placeholder="Write your comment ..."></textarea>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn_send" id="comment_submit">Post</button>
									</div>
								</form>
							</div>
			
			
			
							<h3 ng-if="comments.length">{{comments.length}} Comments:</h3>
							<ul class="comment-list list-unstyled">
								<li class="comment depth-1" ng-repeat="comment in comments">
									<div class="comment-body">
										<div class="photo"><img fallback-src="{{'/img/avatar.png'}}" ng-src="{{::comment.authorImage}}"/></div>
										<p>{{::comment.body}}</p>
										<div class="comment-data"><span class="author"><a ng-href="/profile/{{comment.authorName}}">{{comment.authorName}}</a></span><span class="date">{{::comment.created_at}}</span></div>
									</div>
								</li>
							</ul>
							
					</div>
					<!-- COMMENTS END --> 
	</div>
					
</div>





<div class="container">
	<div class="col-md-2"></div>
	
	<div class="col-md-8">
	
		
	<div class="row">
		<hr ng-if="post.sameAuthorPosts.length">
<h5 class="bold" ng-if="post.sameAuthorPosts.length">
			More from <a ui-sref="vicigo.profile({profileId:post.author_id})">@{{ ::post.author_name }}</a>	
	</h5>

						
								<div style="padding-top:10px;" ng-repeat="related in post.sameAuthorPosts">
									<a ui-sref="vicigo.post({postId:related.post_id})">
										 {{::related.title}} by @{{::related.author_name}}
									</a>
								</div>	
		</div>	
	
		
	<div class="row">	
	<h5 class="bold" ng-if="post.relatedPosts.length">
	Related posts	
	</h5>

						
								<div style="padding-top:10px;" ng-repeat="related in post.relatedPosts">
									<a ui-sref="vicigo.post({postId:related.post_id})">
										 {{::related.title}} by @{{::related.author_name}}
									</a>
								</div>

	</div>
	</div>
	
</div>
	
	
	
		
		
		
		
		
		
		

