<div class="container">
	<div class="row">
		<div class="col-xs-12">
					<h1 class="bold">
						Earn cash for your content.
					</h1>
					<p>
						<b>honest.cash</b> is a social network where you can earn (Bitcoin) Cash if you create value. Our mission is improve the quality of content on the internet and to get people paid for doing work they love. Sign up now to join us.
					</p>
		</div>
	</div>
	 <hr>
    <div class="row">
      <div class="col-md-6">
        <h2>
          Request an early invitation
        </h2>
				<form>
						<div class="form-group">
								<label>username</label>
								<input type="text" class="form-control" ng-model="data.username">
						</div>
						<div class="form-group">
								<label>email</label>
								<input type="email" class="form-control" ng-model="data.email">
						</div>
						<div class="form-group">
								<label>password</label>
								<input type="password" class="form-control" ng-model="data.password">
						</div>

						<div ng-if="message" class="alert alert-warning" role="alert">{{message}}</div>

						<button style="background-color:#4B9E70; color: white;" ng-disabled="{{isLoading}}" type="submit" class="btn btn-lg" ng-click="signup(data)">signup</button>
			
						<!-- <button ng-click="fbLogin()" class="btn btn-primary push btn btn-lg"><span class="fa fa-facebook"></span> facebook</button> -->
				</form>

    	<hr>
					<p class="pull">by signing up you agree to our <a href="https://www.alphateamhackers.com/privacy-policy" target="_blank">privacy policy</a>.</p>          
      </div>
			
			<div class="col-md-6">
        <h4 ng-show="hashtags.length">
          trending tags
        </h4>
        <ul>
          <li ng-repeat = "hashtag in hashtags">
							<b>#{{hashtag}}</b>
						<a ng-if="false" ui-sref="vicigo.hashtag({hashtag : hashtag})">#{{hashtag}}</a>
					</li>
        </ul>
      </div>
    </div>
    <hr>
	  <div class="row text-center" >
				<div class="col-sm-4">
						<i class="fa fa-heart"></i>
						<h2 class="text-enter">
							Earn for creating content
						</h2>
							<p>
								You can create content with a free preview and put the rest of your content behind a pay wall. You can set any price you want. You don't have to charge anything if you don't want to; just put the entire content before the pay wall and other users will tip you if they like your work.
							</p>
					</div>	
					<div class="col-sm-4">	
							<i class="fa fa-share-alt"></i>
							<h2 class="text-center">
								Earn for upvoting good content
							</h2>
							<p>
								You can earn Bitcoin Cash by voting on good content early. Each vote costs 25¢ and the payment goes to earlier voters and the creator. If many people vote on the same content after you, you profit.
							</p>
					</div>
					<div class="col-sm-4">
							<i class="fa fa-terminal"></i>
							<h2 class="text-center">
								Uncensored content
							</h2>
							<p class="padding">
								You can be sure that your content will never be censored or removed. Your opinion is important, regardless to which camp do you belong.
							</p>
						</div>
	  </div>
  </div>
  <button class="hidden" ng-click="loginWithFb()">
		fb
</button>
  

  

