<!DOCTYPE html>
<html lang="en" ng-app="hashtag-app">

<head>
	<title>Vicigo</title>
	<meta charset="utf-8">

	<meta property="fb:app_id" content="1577245229193798" />
	<meta property="og:type" content="website" />

	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<meta name="fragment" content="!" />

	<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
	<link href="/css/dropzone.css" media="all" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/flick/jquery-ui.css" />
	<link href="/lib/tag-it/css/jquery.tagit.css" rel="stylesheet">
	<link href="/lib/tag-it/css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css" />
	<link href="/css/dropzone.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/lib/angular-xeditable-0.1.8/css/xeditable.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/lib/jquery-hashtags-master/css/jquery.hashtags.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/lib/ngdialog/ngDialog.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/css/toastr.min.css" media="all" rel="stylesheet" type="text/css" />

	<base href="/">
</head>

<body ng-controller="appController">
	<div ui-view autoscroll="true"></div>

	<!-- UPLOAD IMAGE MODAL -->
	<div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog" aria-labelledby="uploadImageModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel"><b>Upload picture</b> <a ui-sref="vicigo.importPhotos"><small>or import from Facebook</small></a><button class="close" data-dismiss="modal">×</button></h4>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<form>
							<input id="uploadedPictureTags" name="tags" class="tags-area">
						</form>
					</div>



					<input id="uploadedImagePostId" type="hidden">
					<form enctype="multipart/form-data" type="post" class="dz-clickable" id="imageDropzone">
						<input type="hidden" ng-value="AUTH_TOKEN" name="x-auth-token">
						<div class="dz-message dz-message-style">
							<h3 class="push dz-message-text dz-message">drop files here or click to upload</h3>
						</div>
						<img id="uploadedImage" class="hidden" style="width:90%; max-width:600px; display: block; margin-left: auto; margin-right: auto" src="" />
					</form>


					<div id="imageUploadProgress" class="progress hidden">
						<div id="imageUploadProgressBar" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
							<span class="sr-only">70% Complete</span>
						</div>
					</div>

				</div>

				<!-- FOOTER IMAGE MODAL -->
				<div class="modal-footer">
					<button disabled id="publishPicturePostBtn" ng-click="publishPicturePost()" type="button" class="btn btn-primary btn-lg btn-block">Post</button>
				</div>
				<!-- FOOTER IMAGE MODAL -->
			</div>
		</div>
	</div>
	<!-- UPLOAD IMAGE MODAL -->



	<!-- UPLOAD IMAGE MODAL -->
	<div class="modal fade" id="uploadProfilePicModal" tabindex="-1" role="dialog" aria-labelledby="uploadProfilePicModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="uploadProfilePicLabel"><b>Upload Profile Picture</b> <button class="close" data-dismiss="modal">×</button></h4>
				</div>
				<div class="modal-body">
					<form enctype="multipart/form-data" type="post" class="dz-clickable" id="profilePicDropzone">
						<input type="hidden" ng-value="AUTH_TOKEN" name="x-auth-token">
						<div class="dz-message dz-message-style">
							<h3 class="push dz-message-text dz-message-text-style">Drop file here or click to upload</h3>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- UPLOAD IMAGE MODAL -->

<!-- Modal -->
	
    <script type="text/ng-template" id="userListModal.html">
         <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="userListModalLabel">Post Stats</h4>
      </div>
      <div class="modal-body">
				<ul class="list-unstyled list-inline text-center">
	
					<li style="width:32%;" ng-class="{'active' : statType == 'upvotes'}" class="btn btn-default" ng-click="showItems('upvotes')">
						<h4>{{stats.upvotesCount}}</h4>
						Upvotes
					</li>
					<li style="width:32%;" class="btn btn-default">
						<h4>{{stats.commentsCount}}</h4>
						Comments
					</li>
					<li style="width:32%;" ng-class="{'active' : statType == 'views'}" class="btn btn-default" ng-click="showItems('views')">
						<h4>{{stats.viewsCount}}</h4>
						Views
					</li>
			</ul>
		<hr>
				
        <ul class="list-unstyled">
					<li ng-repeat="item in items" style="padding:5px;">
						
						<a ui-sref="vicigo.profile({profileId:item.user_id})">
						<img class="img-circle img-thumbnail-avatar-small" fallback-src="/img/avatar.png" ng-src="{{item.profile_image_url ? item.profile_image_url : '/img/avatar.png'}}">
						
						<strong>{{item.name}}</strong>
						</a>
						<span class="text-muted">{{item.title}}</span>
					<div class="pull-right">
						<a href="#" class="btn btn-success" ng-click="follow(item.user_id)">FOLLOW</a>
					</div>
					</li>
				</ul>
      </div>
    </script>	


				
				
	
	<!-- LOGIN MODAL -->
	<div class="modal fade" id="loginModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="loginModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="loginModalLabel"><b>Login to continue</b> <button class="close hidden" data-dismiss="modal">×</button></h4>
				</div>
				<div class="modal-body">

					<button id="fbBtn" ng-click="fbLogin()" class="btn btn-block  btn-primary push btn btn-lg"><span class="fa fa-facebook"></span> Facebook</button>


				</div>
			</div>
		</div>
	</div>
	<!-- END LOGIN MODAL -->


<!--
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
-->
	<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/lib/jquery-hashtags-master/js/autosize.min.js"></script>
	<script type="text/javascript" src="/lib/jquery-hashtags-master/js/jquery.hashtags.js"></script>`

	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script src="/lib/jquery.lazy.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/libs/angular/angular.min.js"></script>
	<script type="text/javascript" src="/lib/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="/lib/angular.dcb-img-fallback.min.js"></script>
	<script type="text/javascript" src="/lib/angular-xeditable-0.1.8/js/xeditable.js"></script>
	<script type="text/javascript" src="/lib/flow.min.js" ></script>
	
	<script type="text/javascript" src="/lib/ui-bootstrap-tpls-1.2.5.min.js"></script>
	<script type="text/javascript" src="/lib/ngdialog/ngDialog.js"></script>
	<script type="text/javascript" src="/lib/angular-socialshare.js"></script>
	<script type="text/javascript" src="/lib/angular-jquery-lazy.js"></script>
	<script type="text/javascript" src="/lib/angular-inview.js"></script>
	<script type="text/javascript" src="/js/dropzone.js"></script>
	<script type="text/javascript" src="/lib/tag-it/js/tag-it.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/toastr.min.js"></script>

	<script type="text/javascript" src="/js/ViciAuth.js"></script>
	<script type="text/javascript" src="/js/hashtagApp.js"></script>


	<div id="preview-template" >
		<div class="dz-preview dz-file-preview">

			<div class="dz-details">
				<div class="dz-filename"><span></span></div>
				<div class="dz-size"></div>
			</div>

			<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
			<div class="dz-success-mark"><span></span></div>
			<div class="dz-error-mark"><span></span></div>
			<div class="dz-error-message"><span data-dz-errormessage></span></div>

		</div>
	</div>




</body>

</html>